<div class="alert_top alert bg-alert-sale">
  <div class="container">
    <div class="row text-light">
      <div class="col-4">
        <img src="../img/logo_light.png" class="img-fluid" alt="" />
      </div>
      <div
        class="slogan col-4 text-center d-flex justify-content-center align-items-center"
      >
        Quality and Reputation
      </div>
      <div
        class="nav_right col-4 d-flex align-items-center justify-content-center"
      >
        <ul class="d-flex">
          <li class="list-unstyled px-1">
            <a href=""><img src="../img/user-light.svg" alt="" /></a>
          </li>
          <li class="list-unstyled px-1">
            <a href=""><img src="../img/heart-light.svg" alt="" /></a>
          </li>
          <li class="list-unstyled px-1">
            <a href=""><img src="../img/shopping-bag_light.png" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5 color_navlink">
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="#"
            >TOP PRODUCT
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="#"
            >NEW ARRIVALS</a
          >
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="#"
            >COLLECTIONS</a
          >
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="#">CATEGORY </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="#">MUST HAVE </a>
        </li>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-search" type="submit">SEARCH</button>
        </form>
      </ul>
    </div>
  </div>
</nav>
